<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Todo App</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/tasks">Tasks</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </nav>
    </header>
    <main><%= body %></main>
  </body>
</html>
